<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>sawhatsappchat</name>
	<displayName><![CDATA[SA Whatsapp Chat]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Este módulo agrega un botón de Whatsapp a tu tienda para que tus usuarios inicien un chat con tu empresa.]]></description>
	<author><![CDATA[Alejo Sotelo]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
